
.navMenu {
    margin: 0 auto;
}

ul li {
    margin-left: -.36em;
}





.navMenu__item {
    display: inline-block;
    border: 1px solid #dddddd;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 2px;

}

a {
    text-decoration: none;
    color: black;
}

.navMenu__item:hover {

    background-color: yellow;

}
.navMenu__item:active {
    background-color: yellowgreen;
    transition: all 2s ease-out;

}