body {
    background-color: #63738a;
}


.form {

    max-width:  550px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    background-color: #f2f3f7;
    height: 500px;
    margin-top: 100px ;
}

.name {
    display: flex;
    margin-bottom: 15px;
    margin-left: 105px;

}

.form__input-name {
    height: 25px;
    width: 160px;
}

.form__input {
    margin-bottom: 20px;
    width: 330px ;
    height: 25px;
}
.title {
    display: flex;
    margin-left: 105px;


}
.line {
    width: 110px;
    align-self: center;

}
hr {
    background-color: black;
}

.checkbox__input  {
    margin-left: -35px;
}

.form__button {
    margin-top: 20px;
    width: 330px;
    height: 25px;
    background-color: #4ba34b;
    border-color: #4ba34b;
}


.msg {
    border: 2px solid chocolate;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    font-weight: bold;

}