* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}


main {
    width: 740px;
    margin: 0 auto;
    background-color: #dcdfdb86;
}

.wrapper{
    display: flex;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    min-width: 700px;
}


.sidebar {
    width: 215px;
    background-color: #d9c3a7;
    margin-right: 20px;
    margin-top: 20px;
    
}
.profileInformation__name{
    background-color: rgb(39, 35, 35);
    height: 170px;
    color: white;
    text-align: center;
}
h1 {
    padding-top: 30px;
}

.nameOfColumn {
    background-color: rgb(39, 35, 35);
    color: white;
    text-align: left;
    padding-left: 10px;
    width: 175px;
    text-align: center;
    margin-left: 10px;
}
img {
    border-radius: 50%;
    margin-top: 15px;
}

li {
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}
h3 {
    text-align: left;

}
.profileInformation__profile p {
    text-align: left;
}

.profileInformation__profExperience p {
    text-align: left;
}

